// @import '~reveal.js/css/theme/league.css';
// @import '~irontec-reveal.js-theme';

.intro {
  background-image: url('~/media/fondo_presentacion.jpg');
  img {
    border: 0px !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}