// @import '~reveal.js/css/theme/league.css';
@import '~irontec-reveal.js-theme/dist/theme.css';

.intro {
  background-image: url('../assets/media/fondo_presentacion.jpg');
  img {
    border: 0px !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}

.reveal pre:after{
  left:100% !important;
}